@import "tailwindcss";
@import "./css/tailwindcss-animate-v4.css";
@import "./css/loader.css";
@import "./css/loader-bar.css";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  font-family: "Hanken Grotesk";
  box-sizing: border-box;
}

@layer base {
  * {
    font-size: 14px;
  }
}

@theme {
  --color-base: #181818;
  --color-primary: #e0e4f1;
  --color-secondary: #737b97;
  --color-border: #2a2c36;
  --color-foreground: #171717;
  --color-highlight: #202024;
  --color-highlight-green: #78ffa5;
  --color-accent: #2d3abf;
  --color-accent-foreground: #25266b;
  --color-accent-highlight: #788aff;
}
